# Created by .ignore support plugin (hsz.mobi)
.idea/vcs.xml
.idea/react-ecology-chimy.iml
.idea/modules.xml
.idea/workspace.xml
.idea/
/*/*/*/node_modules/
/*/*/node_modules/
/*/node_modules/
/*/*/*/build/
/*/*/build/
/*/build/